.crrntl-unsupported-theme-notice {
	position: relative;
	margin: 5px 0 15px;
	background: #fff;
	border-left: 4px solid #00a0d2;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
			box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 1px 40px 1px 12px;
}
.rtl .crrntl-unsupported-theme-notice {
	padding: 1px 12px 1px 40px;
}
.crrntl-unsupported-theme-notice .bws_hide_settings_notice {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 9px;
	background: 0 0;
	color: #b4b9be;
	cursor: pointer;
	height: initial;
	width: initial;
}
.crrntl-unsupported-theme-notice .bws_hide_settings_notice {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 9px;
	background: 0 0;
	color: #b4b9be;
	cursor: pointer;
	height: initial;
	width: initial;
}
.crrntl_banner_on_plugin_page_car_renty img{
	border: none;
	max-width: 60px;
	margin: 14px 8px 8px 14px;
	float: left;
}
.crrntl_banner_on_plugin_page_car_renty .wrapper {
	display: flex;
	align-items: flex-end;
	margin-bottom: 25px;
}
.crrntl_banner_on_plugin_page_car_renty_xpandable_block {
	color: #000;
	font-size: 15px;
	line-height: 26px;
	overflow: hidden;
	margin: 8px 8px 30px;
	float: left;
	width: auto;
	max-width: 80%;
	height: 75px;
	order: 0;
}
.crrntl_banner_on_plugin_page_car_renty_wrapper input[type="checkbox"] {
	display: none;
}
.crrntl_banner_on_plugin_page_car_renty_wrapper input[type="checkbox"]:checked + .crrntl_banner_on_plugin_page_car_renty_xpandable_block {
	height: auto;
}
.crrntl_banner_on_plugin_page_car_renty  label {
	order: 1;
	color: #0073aa;
	font-size: 14px;
	vertical-align: top;
	margin-left: 8px;
	position: absolute;
	bottom:7px;
}

.crrntl_banner_on_plugin_page_car_renty {
	border: 1px solid #d4d4d4;
	margin: 12px 0;
	background: #FFF;
	position: relative;
	overflow: hidden;
	content: "\f347";
}
.crrntl-unsupported-theme-notice .bws_hide_settings_notice:before {
	background: 0 0;
	color: #b4b9be;
	content: "\f153";
	display: block;
	font: 400 16px/20px dashicons;
	speak: none;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.crrntl-unsupported-theme-notice .bws_hide_settings_notice:hover:before {
	color: #c00;
}

/* Car Rental cars icon in menu */
.menu-top.menu-icon-cars .wp-menu-image,
.menu-top.menu-icon-bws-cars .wp-menu-image {
	font-family: 'bwsicons' !important;
}
.menu-top.menu-icon-cars .wp-menu-image:before,
.menu-top.menu-icon-bws-cars .wp-menu-image:before {
	content: "\e902";
	font-family: 'bwsicons' !important;
}