/***** Slider Elements *****/

/* = Slider overlay ------ */
.crrntl-slider-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../images/denim.png) repeat;
	opacity: 0.6;
}
.owl-item,
.crrntl-one-slide {
	height: 320px;
}

.crrntl-one-slide img {
	position: absolute;
	top: 0;
}

/* = Slider post--------*/
.crrntl-slider-post {
	position: relative;
	z-index: 10;
	margin: 43px auto 0;
	width: 100%;
	max-width: 800px;
	min-height: 320px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.crrntl-slider-post .crrntl-slide-title,
.crrntl-slider-post .crrntl-slide-description {
	overflow: hidden;
}

.crrntl-slider-post h3 {
	margin: 0 0 4px;
	padding: 0;
	color: #fff;
	word-spacing: -2px;
	font-size: 35px;
	line-height: 42px;
}

.crrntl-slider-post .crrntl-entry-content {
	padding: 0;
	color: #ecebeb;
	text-align: center;
	word-spacing: 0;
	letter-spacing: -0.1px;
	font-weight: lighter;
	font-size: 16px;
	line-height: 24px;
}

.crrntl-slider-post .crrntl-entry-meta {
	margin: 9px 7px;
	color: #ecebeb;
	text-transform: uppercase;
	opacity: 0.5;
}

.crrntl-slider-post .crrntl-entry-meta a {
	color: #ecebeb;
}

.crrntl-slider-post .crrntl-entry-meta a:before {
	position: relative;
	top: 4px;
	display: inline-block;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	background: url(../images/slider-icons.png) -6px -36px;
	content: "";
}

.crrntl-slider-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 400px;
}

.crrntl-slider {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 320px;
	cursor: move;
}

.crrntl-navigator-block {
	position: relative;
}

/* size of bullet element */

.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
}
.owl-carousel .owl-dots {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 23;
}
.owl-carousel .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	z-index: 22;
}
.crrntl-right-slider .owl-carousel .owl-dots,
.crrntl-left-slider .owl-carousel .owl-dots {
	top: 85px;
}
.crrntl-center-slider .owl-carousel .owl-dots {
	top: -125px;
}
.crrntl-right-slider .owl-carousel .owl-dots {
	padding-left: 34%;
	float: left;
}

.crrntl-left-slider .owl-carousel .owl-dots {
	padding-right: 34%;
	float: right;
}

.owl-carousel .owl-dots .owl-dot.active span {
	background: #0085F4;
}
.owl-carousel .owl-dots .owl-dot:hover span {
	background: #FFAC0E;
}

/***** Car search form in slider *****/

#crrntl-slider-form-container {
	z-index: 999;
	display: block;
	margin: 0 auto;
	max-width: 945px;
	width: 100%;
}

.crrntl-left-slider .crrntl-slider-container,
.crrntl-right-slider .crrntl-slider-container,
.crrntl-center-slider .crrntl-slider-container {
	height: 463px;
}

.crrntl-left-slider #crrntl-slider-form,
.crrntl-right-slider #crrntl-slider-form {
	max-width: 460px;
	width: 48.7%;
}

.crrntl-right-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form {
	float: right;
	margin: -412px 0 38px;
	z-index: 1;
}

.crrntl-left-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form {
	float: left;
	margin: -412px 0 38px;
	z-index: 1;
}

.crrntl-center-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form {
	margin: -222px auto 38px;
	max-width: 945px;
	width: 100%;
	z-index: 1;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-title-form,
.crrntl-right-slider #crrntl-slider-form .crrntl-title-form {
	padding: 10px 40px 5px;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-content-form,
.crrntl-right-slider #crrntl-slider-form .crrntl-content-form {
	clear: both;
	padding: 15px 40px 30px 40px;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-location-block,
.crrntl-right-slider #crrntl-slider-form .crrntl-location-block {
	width: 100%;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-pick-up,
.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-pick-up,
.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-drop-off,
.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-drop-off {
	margin: 23px 0 0;
	width: 50%;
	float: left;
}

.rtl.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-pick-up,
.rtl.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-pick-up,
.rtl.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-drop-off,
.rtl.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-drop-off {
	float: right;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-return-location,
.crrntl-right-slider #crrntl-slider-form .crrntl-return-location {
	margin-bottom: 0;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-car-type,
.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-car-type {
	margin: 23px 0 18px;
}

.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-form-submit,
.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-form-submit {
	float: right;
	margin: 22px 0 0 0;
}

.rtl.crrntl-left-slider #crrntl-slider-form .crrntl-form-block.crrntl-form-submit,
.rtl.crrntl-right-slider #crrntl-slider-form .crrntl-form-block.crrntl-form-submit {
	float: left;
}

.crrntl-right-slider .crrntl-slider-post,
.crrntl-left-slider .crrntl-slider-post {
	margin-right: auto;
	margin-left: auto;
	max-width: 945px;
	width: 100%;
}

.crrntl-left-slider .crrntl-slider-post > div {
	float: right;
	clear: both;
	max-width: 425px;
	width: 45%;
	text-align: left !important;
	padding: 0 15px;
}

.crrntl-right-slider .crrntl-slider-post > div {
	float: left;
	clear: both;
	max-width: 425px;
	width: 45%;
	text-align: left !important;
	padding: 0 15px;
}

.crrntl-right-slider .crrntl-slider-post .crrntl-entry-content,
.crrntl-left-slider .crrntl-slider-post .crrntl-entry-content {
	text-align: left !important;
}

.crrntl-left-slider .crrntl-slider-post .crrntl-entry-meta,
.crrntl-right-slider .crrntl-slider-post .crrntl-entry-meta {
	margin: 9px 0 0;
}

.crrntl-navigator-container {
	position: relative;
	margin: 0 auto;
	max-width: 945px;
	width: 100%;
}

.crrntl-left-slider .crrntl-navigator-block {
	position: relative;
	float: right;
	max-width: 425px;
	width: 100%;
}

.crrntl-right-slider .crrntl-navigator-block {
	position: relative;
	float: left;
	max-width: 425px;
	width: 100%;
}

.crrntl-left-slider .crrntl-front-img,
.crrntl-right-slider .crrntl-front-img {
	position: absolute;
	right: 0;
	bottom: 68px;
	left: 0;
	overflow: hidden;
	margin: 0 auto;
	max-width: 945px;
	width: 100%;
	height: 170px;
	z-index: 1;
}

.crrntl-left-slider .crrntl-front-img img {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 470px;
	max-height: 170px;
	height: auto;
}

.crrntl-right-slider .crrntl-front-img img {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 470px;
	max-height: 170px;
	height: auto;
}

@media screen and (max-width: 767px) {
	.crrntl-left-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form,
	.crrntl-right-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form,
	.crrntl-center-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form {
		margin-top: -210px;
	}
}

@media screen and (max-width: 520px) {
	.crrntl-left-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form,
	.crrntl-right-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form,
	.crrntl-center-slider .crrntl-slider-container + #crrntl-slider-form-container #crrntl-slider-form {
		margin-top: -90px;
	}
}